<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>och01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Add3</display-name>
    <servlet-name>Add3</servlet-name>
    <servlet-class>och01.Add3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add3</servlet-name>
    <url-pattern>/Add3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuGu</display-name>
    <servlet-name>GuGu</servlet-name>
    <servlet-class>och01.GuGu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuGu</servlet-name>
    <url-pattern>/GuGu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Board</display-name>
    <servlet-name>Board</servlet-name>
    <servlet-class>och01.Board</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board</servlet-name>
    <url-pattern>/Board</url-pattern>
  </servlet-mapping>
</web-app>